.nav__link {
    position: relative;
    padding: 8px;
    font-size: 20px;
    color: var(--dark-grayish-blue);
    text-decoration: none;
    transition: opacity .2s ease-in;
}

@media screen and (min-width: 680px) {
    .nav__link {
        font-size: 18px;
        color: var(--white);
    }

    .nav__link::after {
        content: '';
        position: absolute;
        top: 90%;
        left: 9%;
        height: 3px;
        width: 85%;
        border-radius: 2px;
        transform: scale(0);
        background-color: var(--yellow);
        transition: all .2s ease-in-out;
    }

    .nav__link:hover::after {
        transform: scale(1);
    }
}