@import url('./__container/testimonial__container.css');
@import url('./__title/testimonial__title.css');
@import url('./__avatar/testimonial__avatar.css');
@import url('./__comment/testimonial__comment.css');
@import url('./__name/testimonial__name.css');
@import url('./__job-title/testimonial__job-title.css');

.testimonial {
    width: calc(100% - 48px);
    margin: 0 auto;
    padding: 68px 0;
    text-align: center;
}

@media screen and (min-width: 680px) {
    .testimonial {
        width: calc(100% - 128px);
        padding: 120px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        align-items: start;
    }
}

@media screen and (min-width: 990px) {
    .testimonial {
        width: calc(100% - 270px);
    }
}