.card_type_graphic {
    justify-content: flex-end;
    min-height: 600px;
    background: center/cover no-repeat url('../../../images/mobile/image-graphic-design.jpg');
}

@media screen and (min-width: 680px) {
    .card_type_graphic {
        grid-column: 1/2;
        background: center/cover no-repeat url('../../../images/desktop/image-graphic-design.jpg');

    }
}