.card__container {
    padding: 68px 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
}

@media screen and (min-width: 680px) {
    .card__container {
        flex-basis: 450px;
        align-items: flex-start;
        gap: 36px;
        text-align: left;
    }
}