.header__nav-btn {
    display: block;
    width: 24px;
    height: 18px;
    background: center/cover no-repeat transparent url('../../../images/icon-hamburger.svg');
    border: none;
}

@media screen and (min-width: 680px) {
    .header__nav-btn {
        display: none;
    }
}