@import url('./__btn/nav__btn.css');
@import url('./__links/nav__links.css');
@import url('./__links/_mobile/nav__links_mobile.css');
@import url('./__item/_type/nav__item_type_contact.css');
@import url('./__link/nav__link.css');
@import url('./__link/_type/nav__link_type_contact.css');

.nav {
    width: calc(100% - 48px);
    margin: 0 auto;
    padding: 36px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 680px) {
    .nav {
        width: calc(100% - 72px);
        align-items: baseline;
    }
}