.nav__btn {
    display: block;
    width: 22px;
    height: 17px;
    background: center/cover no-repeat transparent url('../../../images/icon-hamburger.svg');
    border: none;
    transform: scale(1.1);
}

@media screen and (min-width: 680px) {
    .nav__btn {
        display: none;
    }
}