.header__title {
    position: relative;
    max-width: calc(100% - 48px);
    width: 100%;
    margin: 130px auto 0;
    font-family: Fraunces, 'Lucida Grande', Arial, sans-serif;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}

.header__title::before {
    content: '';
    position: absolute;
    top: 160px;
    left: 48%;
    width: 36px;
    height: 114px;
    background: center/cover no-repeat transparent url('../../../images/icon-arrow-down.svg');
}

@media screen and (min-width: 860px) {
    .header__title {
        /*max-width: calc(100% - 72px);*/
        font-size: 54px;
        letter-spacing: 10px;
    }
}